absl-py
altair
attrs
blinker
cachetools
click
colorama
cvzone
Flask
fsspec
gitdb
GitPython
h5py
Jinja2
jsonschema
keras
matplotlib
mediapipe
numpy
opencv-python-headless
pandas
pillow
protobuf
requests
seaborn
scipy
streamlit
sympy
tensorflow
tensorboard
tenacity
torch
torchvision
tqdm
typing_extensions
ultralytics
Werkzeug
